.numberLine {
	stroke: darkred;
	fill: none;
}

.sinValuesLine {
	stroke: darkblue;
	fill: none;
}

.circles {
	fill: white;
	stroke: steelblue;
}

.proeprties {
	margin-left: 10px;
	margin-top: 10px; 
}